body {
    background-image: url("../img/hatter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

a {
    text-decoration: none;
    color: #A5D6A7;
}

h1 {
    color: #1B5E20;
}

li {
    font-size: large;
}

ul {
    margin-bottom: 0;
}

h1 {
    margin-bottom: 20px;
    padding: 10px;
}

#algoleiras {
    margin-left: 200px;
    margin-right: 200px;
}

footer {
    height: 30px;
}

#abrak {
    margin-bottom: 40px;
}

img {
    padding: 10px;
}

.card {
    background-color: rgb(165, 214, 167, 0.6);
}

header {
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

footer {
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: #A5D6A7;
    font-size: larger;
}

#algotulaj {
    color: #1B5E20;
    font-size: larger;
    font-weight: 500;
}

.card-title {
    font-size: larger;
    font-weight: 500;
}

.card-text {
    text-align: center;
}

@media (max-width: 540px) {
    #algoleiras {
        margin-left: 40px;
        margin-right: 40px;
    }
    #algotulaj {
        margin: 30px;
    }
}